* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --my-color-1: #dbdbdb;
  --my-color-2: #aaabac;
  --my-color-3: #444444;
  --my-color-4: #c0dffd;
  --my-color-5: white;
}
