$font-stack: 'Lobster', cursive;
$border: 1px solid #efefef;
$background-color: #fafafa;
$button-color: #0095f6;

@mixin default-css {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin inputbtn-stack {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 36px;
}

* {
  @include default-css;
}

body {
  @include flex-center;
  font-family: $font-stack;
}

.loginContainer {
  width: 500px;
  height: auto;
  border: $border;
  text-align: center;

  .logo {
    padding: 50px;
    font-size: 65px;
  }
}

.inputGroup {
  input {
    @include inputbtn-stack;
    padding: 20px 16px;
    font-size: 16px;
    border: $border;
    background-color: $background-color;

    &:first-child {
      margin-bottom: 10px;
      &:nth-child(2) {
        margin-bottom: 20px;
      }
    }
  }

  #inputButton {
    @include inputbtn-stack;
    display: block;
    margin-bottom: 200px;
    text-align: center;
    font-size: 20px;
    color: #ffff;
    background-color: $button-color;
    border: none;
    border-radius: 6px;
    opacity: 1;
    transition: opacity 200ms ease-in;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .notice {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    text-decoration: none;
    color: navy;
  }
}
